.login-container {
	display: grid;
	place-items: center;
	padding: 2rem 1rem;
}

.login-window {
	background: var(--background);
	border: 1px solid var(--border);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	border-radius: 8px;

	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 1.5rem;

	padding: 2rem;

	width: 100%;
	max-width: min(400px, 90vw);
}
